*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #162052;
}
.box{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  overflow: hidden;

}
.box::before{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: .5s;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  0%{
    transform: rotate(360deg);
  }
}

.box:hover::before{
  inset: -20px 0px;
}

.box::after{
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  background-color: #162052;
}